@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
header{
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav_logo{
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

}