@use "./variable" as *;
main {
  .hero img {
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-size: 120rem;
    position: relative;
    top: -5rem;
    z-index: -111;
  }
  .hero_box {
    position: absolute;
    display: flex;
    align-items: center;
    top: 16%;
    left: 6%;
    .hero_text {
      margin-top: -9rem;
      h2 {
        color: $white;
        font-size: 50px;
        width: 67%;
        margin-bottom: 1rem;
      }
      p {
        color: $white;
        font-size: 18px;
        width: 67%;
        line-height: 1.5;
        margin-bottom: 2rem;
      }
      .hero_btn {
        padding: 12px 40px;
        font-size: 18px;
        background-color: $coolblue;
        border: none;
        border-radius: 5px;
        color: $white;
        transition: all 0.3s ease-in-out;
        color: $white;
        &:hover {
          -webkit-box-shadow: 0px 12px 8px -7px rgba(34, 60, 80, 0.2);
          -moz-box-shadow: 0px 12px 8px -7px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 12px 8px -7px rgba(34, 60, 80, 0.2);
          transform: translateY(-3px);
        }
        &:active {
          -webkit-box-shadow: 0px 0px 0px 0px rgba(34, 60, 80, 0.2);
          -moz-box-shadow: 0px 0px 0px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px0px 0px rgba(34, 60, 80, 0.2);
          transform: translateY(5px);
        }
      }
    }
    .hero_img {
      .hero_img1 {
        position: relative;
        left: -20%;
        height: 600px;
      }
      .hero_img2 {
        width: 1200px;
        position: absolute;
        top: -5rem;
        right: -2%;
        height: auto;
      }
    }
  }
  .paymets {
    margin-top: $rem14;
    display: flex;
    justify-content: space-between;
    .paymets_flex {
      display: flex;
      gap: $rem3;
      .paymets_div_box2 {
        margin-top: -5rem;
        margin-bottom: 2rem;
      }
    }
    .paymets_div_box {
      background-color: $white;
      width: 350px;
      padding: $rem2;
      border-left: 4px solid transparent;
      border-image: linear-gradient(to bottom, #00b5d0, #5c0e62);
      border-image-slice: 1;
      border-radius: 12px;
      margin-bottom: 2rem;
      position: relative;
      overflow: hidden;
      z-index: 1;
      cursor: pointer;
      transition: all 0.3s ease;
      box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #fff;

      &:hover {
        transform: translateY(3px);
        transform: translateX(2px);
      }

      h4 {
        font-size: 23px;
        margin-top: $rem1;
        color: #555;
      }
      p {
        color: gray;
        font-size: 20px;
        width: 97%;
      }
    }
    .Paymets_text_box {
      width: 700px;
      text-align: start;
      p {
        font-size: 18px;
        width: 70%;
        margin-left: 4rem;
      }
      .paymets_bnt {
        margin-top: 2rem;
        margin-left: 4rem;
        button {
          color: #5c0e62;
          font-size: 20px;
          font-weight: 700;
          border: none;
          background-color: transparent;
          span {
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }

    .paymets_text {
      margin-top: -10rem;
      position: relative;
      font-size: 50px;
      width: 70%;
      margin-left: 4rem;
      color: #555;
      margin-bottom: 2rem;
      span {
        color: #5c0e62;
      }
    }
    .paymets_img {
      position: absolute;
      margin-left: 1rem;
      margin-top: -13rem;
    }
  }
  .card_img {
    margin-top: -12rem;
    background-size: 120rem;
    width: 100%;
    position: relative;
  }
  .card_box {
    position: absolute;
    top: 205%;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14rem;
    img {
      width: 60px;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .credit {
    position: absolute;
    top: 225%;
    margin-left: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $rem4;
    .credit_box {
      .credit_img {
        margin-left: -3rem;
      }
      h4 {
        margin-top: -1.5rem;
        font-size: 20px;
        color: red;
        margin-bottom: 1rem;
      }
      h1 {
        color: #555;
        font-size: 45px;
        width: 50%;
        line-height: 1.2;
        span {
          color: #5c0e62;
        }
        margin-bottom: 1rem;
      }
      p {
        width: 55%;
        font-size: 18px;
        margin-bottom: 2rem;
      }
      button {
        font-size: 18px;
        color: #5c0e62;
        font-weight: 700;
        border: none;
        background-color: transparent;
      }
    }
  }

  .img {
    position: absolute;
    top: 290%;
    margin-left: 7rem;
    display: flex;
    justify-content: space-between;
    gap: 15rem;

    .imgs {
      transition: all 0.4s ease-in-out;
      &:hover {
        filter: drop-shadow(0px 3px 18px #2d2b2b);
      }
    }
    .img_box {
      .credit_img {
        margin-left: -3rem;
      }
      h4 {
        margin-top: -1.5rem;
        font-size: 20px;
        color: red;
        margin-bottom: 1rem;
      }
      h1 {
        color: #555;
        font-size: 45px;
        width: 50%;
        line-height: 1.2;
        span {
          color: #5c0e62;
        }
        margin-bottom: 1rem;
      }
      p {
        width: 55%;
        font-size: 18px;
        margin-bottom: 2rem;
      }
      button {
        font-size: 18px;
        color: #5c0e62;
        font-weight: 700;
        border: none;
        background-color: transparent;
      }
    }
  }

  .savings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 350%;
    margin-left: 7rem;

    .credit_img {
      margin-left: -3rem;
    }
    h4 {
      margin-top: -1.5rem;
      font-size: 20px;
      color: red;
      margin-bottom: 1rem;
    }
    h1 {
      color: #555;
      font-size: 45px;
      width: 50%;
      line-height: 1.2;
      span {
        color: #5c0e62;
      }
      margin-bottom: 1rem;
    }
    p {
      width: 55%;
      font-size: 18px;
      margin-bottom: 2rem;
    }
    button {
      font-size: 18px;
      color: #5c0e62;
      font-weight: 700;
      border: none;
      background-color: transparent;
    }
  }

  .customer {
    margin-top: -18rem;
    width: 100%;
    .customer_img {
      width: 100%;
      position: relative;
    }
    .customer_img5 {
      position: absolute;
      top: 380%;
      left: 0;
    }
    .customer_img6 {
      position: absolute;
      top: 380%;
      right: 0;
    }
    .customer_big_box {
      width: 80%;
      position: absolute;
      top: 450%;
      margin-left: 9rem;
      display: flex;
      justify-content: space-between;
      .customer_box {
        position: absolute;
        width: 300px;
        margin-left: 2rem;
        h1 {
          color: $white;
          width: 400px;
          margin-top: -2rem;
          margin-left: 3rem;
          font-size: 40px;
          span {
            color: #5c0e62;
          }
        }
        p {
          margin-top: 1rem;
          line-height: 1.5;
          color: $white;
          font-size: 16px;
          margin-left: 3rem;
          width: 500px;
        }
        .customer_imgs {
          margin-top: 7rem;
          opacity: 0.3;
          margin-left: -1rem;
        }
      }
      .customer_div {
        position: absolute;
        margin-top: -12rem;
        left: 30%;
        width: 60%;
        text-align: center;
        p {
          color: $white;
          width: 60%;
          margin-left: 10rem;
          margin-bottom: 1rem;
        }
        h2 {
          color: $orange;
          font-weight: 800;
          margin-bottom: 1rem;
        }
        h4 {
          color: $orange;
        }
      }
      .customer_23 {
        position: absolute;
        left: 65%;
        margin-top: 15rem;
      }
      .customer_24 {
        position: absolute;
        left: 95%;
        margin-top: -14rem;
      }
      .customer_25 {
        position: absolute;
        left: 90%;
        margin-top: 7rem;
      }
      .customer_23 {
        position: absolute;
        left: 65%;
        margin-top: 15rem;
      }
      .customer_26 {
        position: absolute;
        left: 97%;
        margin-top: 20rem;
      }
    }
  }
}
