// rem
$rem1:1rem;
$rem2:2rem;
$rem3:3rem;
$rem4:4rem;
$rem5:5rem;
$rem6:6rem;
$rem7:7rem;
$rem8:8rem;
$rem9:9rem;
$rem10:10rem;
$rem11:11rem;
$rem12:12rem;
$rem13:13rem;
$rem14:14rem;
//--------------
// color
$orange:#FFBC51;
$coolblue:#798AC9;
$white:#fff;