@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Proxima Nova", sans-serif;
}

body {
  background-color: #f2e9ec;
}

.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
header .navbar {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .nav_logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 27px;
  color: #fff;
}
header .navbar .nav_menu ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}
header .navbar .nav_menu ul li a {
  font-size: 20px;
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  padding-bottom: 5px;
}
header .navbar .nav_menu ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffffff;
  transition: width 0.3s ease-in-out;
}
header .navbar .nav_menu ul li a:hover::after {
  width: 100%;
}
header .navbar .nav_btn {
  display: flex;
  gap: 1rem;
}
header .navbar .nav_btn .btn1 {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  color: #fff;
}
header .navbar .nav_btn .btn1:hover {
  -webkit-box-shadow: 0px 12px 8px -7px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 12px 8px -7px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 12px 8px -7px rgba(34, 60, 80, 0.2);
  transform: translateY(-3px);
}
header .navbar .nav_btn .btn1:active {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 0px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px0px 0px rgba(34, 60, 80, 0.2);
  transform: translateY(5px);
}
header .navbar .nav_btn .btn2 {
  padding: 7px 25px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  background-color: #FFBC51;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
header .navbar .nav_btn .btn2:hover {
  -webkit-box-shadow: 0px 12px 8px -7px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 12px 8px -7px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 12px 8px -7px rgba(34, 60, 80, 0.2);
  transform: translateY(-3px);
}
header .navbar .nav_btn .btn2:active {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 0px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px0px 0px rgba(34, 60, 80, 0.2);
  transform: translateY(5px);
}

button {
  cursor: pointer;
}

main .hero img {
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-size: 120rem;
  position: relative;
  top: -5rem;
  z-index: -111;
}
main .hero_box {
  position: absolute;
  display: flex;
  align-items: center;
  top: 16%;
  left: 6%;
}
main .hero_box .hero_text {
  margin-top: -9rem;
}
main .hero_box .hero_text h2 {
  color: #fff;
  font-size: 50px;
  width: 67%;
  margin-bottom: 1rem;
}
main .hero_box .hero_text p {
  color: #fff;
  font-size: 18px;
  width: 67%;
  line-height: 1.5;
  margin-bottom: 2rem;
}
main .hero_box .hero_text .hero_btn {
  padding: 12px 40px;
  font-size: 18px;
  background-color: #798AC9;
  border: none;
  border-radius: 5px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  color: #fff;
}
main .hero_box .hero_text .hero_btn:hover {
  -webkit-box-shadow: 0px 12px 8px -7px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 12px 8px -7px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 12px 8px -7px rgba(34, 60, 80, 0.2);
  transform: translateY(-3px);
}
main .hero_box .hero_text .hero_btn:active {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 0px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px0px 0px rgba(34, 60, 80, 0.2);
  transform: translateY(5px);
}
main .hero_box .hero_img .hero_img1 {
  position: relative;
  left: -20%;
  height: 600px;
}
main .hero_box .hero_img .hero_img2 {
  width: 1200px;
  position: absolute;
  top: -5rem;
  right: -2%;
  height: auto;
}
main .paymets {
  margin-top: 14rem;
  display: flex;
  justify-content: space-between;
}
main .paymets .paymets_flex {
  display: flex;
  gap: 3rem;
}
main .paymets .paymets_flex .paymets_div_box2 {
  margin-top: -5rem;
  margin-bottom: 2rem;
}
main .paymets .paymets_div_box {
  background-color: #fff;
  width: 350px;
  padding: 2rem;
  border-left: 4px solid transparent;
  border-image: linear-gradient(to bottom, #00b5d0, #5c0e62);
  border-image-slice: 1;
  border-radius: 12px;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #fff;
}
main .paymets .paymets_div_box:hover {
  transform: translateY(3px);
  transform: translateX(2px);
}
main .paymets .paymets_div_box h4 {
  font-size: 23px;
  margin-top: 1rem;
  color: #555;
}
main .paymets .paymets_div_box p {
  color: gray;
  font-size: 20px;
  width: 97%;
}
main .paymets .Paymets_text_box {
  width: 700px;
  text-align: start;
}
main .paymets .Paymets_text_box p {
  font-size: 18px;
  width: 70%;
  margin-left: 4rem;
}
main .paymets .Paymets_text_box .paymets_bnt {
  margin-top: 2rem;
  margin-left: 4rem;
}
main .paymets .Paymets_text_box .paymets_bnt button {
  color: #5c0e62;
  font-size: 20px;
  font-weight: 700;
  border: none;
  background-color: transparent;
}
main .paymets .Paymets_text_box .paymets_bnt button span {
  transition: all 0.3s ease-in-out;
}
main .paymets .paymets_text {
  margin-top: -10rem;
  position: relative;
  font-size: 50px;
  width: 70%;
  margin-left: 4rem;
  color: #555;
  margin-bottom: 2rem;
}
main .paymets .paymets_text span {
  color: #5c0e62;
}
main .paymets .paymets_img {
  position: absolute;
  margin-left: 1rem;
  margin-top: -13rem;
}
main .card_img {
  margin-top: -12rem;
  background-size: 120rem;
  width: 100%;
  position: relative;
}
main .card_box {
  position: absolute;
  top: 205%;
  margin-left: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14rem;
}
main .card_box img {
  width: 60px;
  transition: all 0.3s ease-in-out;
}
main .card_box img:hover {
  transform: scale(1.1);
}
main .credit {
  position: absolute;
  top: 225%;
  margin-left: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
main .credit .credit_box .credit_img {
  margin-left: -3rem;
}
main .credit .credit_box h4 {
  margin-top: -1.5rem;
  font-size: 20px;
  color: red;
  margin-bottom: 1rem;
}
main .credit .credit_box h1 {
  color: #555;
  font-size: 45px;
  width: 50%;
  line-height: 1.2;
  margin-bottom: 1rem;
}
main .credit .credit_box h1 span {
  color: #5c0e62;
}
main .credit .credit_box p {
  width: 55%;
  font-size: 18px;
  margin-bottom: 2rem;
}
main .credit .credit_box button {
  font-size: 18px;
  color: #5c0e62;
  font-weight: 700;
  border: none;
  background-color: transparent;
}
main .img {
  position: absolute;
  top: 290%;
  margin-left: 7rem;
  display: flex;
  justify-content: space-between;
  gap: 15rem;
}
main .img .imgs {
  transition: all 0.4s ease-in-out;
}
main .img .imgs:hover {
  filter: drop-shadow(0px 3px 18px #2d2b2b);
}
main .img .img_box .credit_img {
  margin-left: -3rem;
}
main .img .img_box h4 {
  margin-top: -1.5rem;
  font-size: 20px;
  color: red;
  margin-bottom: 1rem;
}
main .img .img_box h1 {
  color: #555;
  font-size: 45px;
  width: 50%;
  line-height: 1.2;
  margin-bottom: 1rem;
}
main .img .img_box h1 span {
  color: #5c0e62;
}
main .img .img_box p {
  width: 55%;
  font-size: 18px;
  margin-bottom: 2rem;
}
main .img .img_box button {
  font-size: 18px;
  color: #5c0e62;
  font-weight: 700;
  border: none;
  background-color: transparent;
}
main .savings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 350%;
  margin-left: 7rem;
}
main .savings .credit_img {
  margin-left: -3rem;
}
main .savings h4 {
  margin-top: -1.5rem;
  font-size: 20px;
  color: red;
  margin-bottom: 1rem;
}
main .savings h1 {
  color: #555;
  font-size: 45px;
  width: 50%;
  line-height: 1.2;
  margin-bottom: 1rem;
}
main .savings h1 span {
  color: #5c0e62;
}
main .savings p {
  width: 55%;
  font-size: 18px;
  margin-bottom: 2rem;
}
main .savings button {
  font-size: 18px;
  color: #5c0e62;
  font-weight: 700;
  border: none;
  background-color: transparent;
}
main .customer {
  margin-top: -18rem;
  width: 100%;
  z-index: -111;
}
main .customer .customer_img {
  width: 100%;
  position: relative;
}
main .customer .customer_img5 {
  position: absolute;
  top: 380%;
  left: 0;
}
main .customer .customer_img6 {
  position: absolute;
  top: 380%;
  right: 0;
}
main .customer .customer_big_box {
  width: 80%;
  position: absolute;
  top: 450%;
  margin-left: 9rem;
  display: flex;
  justify-content: space-between;
}
main .customer .customer_big_box .customer_box {
  position: absolute;
  width: 300px;
  margin-left: 2rem;
}
main .customer .customer_big_box .customer_box h1 {
  color: #fff;
  width: 400px;
  margin-top: -2rem;
  margin-left: 3rem;
  font-size: 40px;
}
main .customer .customer_big_box .customer_box h1 span {
  color: #5c0e62;
}
main .customer .customer_big_box .customer_box p {
  margin-top: 1rem;
  line-height: 1.5;
  color: #fff;
  font-size: 16px;
  margin-left: 3rem;
  width: 500px;
}
main .customer .customer_big_box .customer_box .customer_imgs {
  margin-top: 7rem;
  opacity: 0.3;
  margin-left: -1rem;
}
main .customer .customer_big_box .customer_div {
  position: absolute;
  margin-top: -12rem;
  left: 30%;
  width: 60%;
  text-align: center;
}
main .customer .customer_big_box .customer_div p {
  color: #fff;
  width: 60%;
  margin-left: 10rem;
  margin-bottom: 1rem;
}
main .customer .customer_big_box .customer_div h2 {
  color: #FFBC51;
  font-weight: 800;
  margin-bottom: 1rem;
}
main .customer .customer_big_box .customer_div h4 {
  color: #FFBC51;
}
main .customer .customer_big_box .customer_23 {
  position: absolute;
  left: 65%;
  margin-top: 15rem;
}
main .customer .customer_big_box .customer_24 {
  position: absolute;
  left: 95%;
  margin-top: -14rem;
}
main .customer .customer_big_box .customer_25 {
  position: absolute;
  left: 90%;
  margin-top: 7rem;
}
main .customer .customer_big_box .customer_23 {
  position: absolute;
  left: 65%;
  margin-top: 15rem;
}
main .customer .customer_big_box .customer_26 {
  position: absolute;
  left: 97%;
  margin-top: 20rem;
}
main .main_box_div {
  margin-top: -6rem;
  width: 1100px;
  height: 180px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 5rem;
  border-radius: 20px;
  z-index: 1;
  position: absolute;
  margin-left: 12rem;
}
main .main_box_div h1 {
  color: #260735;
  font-size: 40px;
  font-weight: 700;
}
main .main_box_div .footer_btn {
  font-size: 14px;
  padding: 13px 45px;
  font-weight: 800;
  color: #fff;
  background-color: #FFBC51;
  border: none;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
  color: #fff;
}
main .main_box_div .footer_btn:hover {
  -webkit-box-shadow: 0px 12px 8px -7px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 12px 8px -7px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 12px 8px -7px rgba(34, 60, 80, 0.2);
  transform: translateY(-4px);
}
main .main_box_div .footer_btn:active {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 0px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px0px 0px rgba(34, 60, 80, 0.2);
  transform: translateY(1px);
}

.footer {
  background-color: #210933;
  margin-top: -10px;
  padding: 9rem 2rem;
  padding-bottom: 5rem;
}
.footer > div {
  display: flex;
  justify-content: space-between;
}
.footer > div .footer_logo_box .Footer_logo {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 1rem;
  font-size: 24px;
  margin-bottom: 2rem;
}
.footer > div .footer_logo_box i {
  font-size: 50px;
  margin-right: 1rem;
  color: rgba(118, 115, 115, 0.4078431373);
}
.footer > div .footer_logo_box p {
  margin-top: 2rem;
  color: #444;
  font-size: 18px;
  width: 60%;
}
.footer > div .footer_menu h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 2rem;
}
.footer > div .footer_menu p {
  margin-bottom: 2rem;
  color: #555;
}

/*# sourceMappingURL=style.css.map */
